@use "@/styles/colors.scss";

.user-component {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem;
  gap: 1.5rem;
  cursor: pointer;

  img {
    border-radius: 50%;
    width: 5rem;
  }
  h1 {
    color: colors.$coffee;
  }
}
