.home {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  .home-title {
    font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 101px;
  }
  .home-signin {

  }
}