@use "@/styles/colors";

.matches {
  width: 100%;

  .matches-title {
    margin: 2rem;
    color: colors.$text;
  }

  .order-div {
    padding: 0 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0rem;

    .order-input {
      padding-left: 1rem;
      line-height: 2rem;
      width: 90%;
      border: 1px solid colors.$text;
      background-color: colors.$cream;
      border-radius: 6px;
      margin: 0.5rem 1rem;
      &:focus {
        outline: 1px solid colors.$text;
      }
    }

    .close {
      cursor: pointer;
    }
  }
}
