@use "@/styles/colors";

.matches {
  width: 100%;

  .order-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0rem;
    padding: 0;

    .order-input {
      width: 90%;
      border: 1px solid colors.$text;
      background-color: colors.$cream;
      border-radius: 6px;
      margin: 0.5rem 1rem;
      &:focus {
        outline: 1px solid colors.$text;
      }
    }

    .close {
      cursor: pointer;
    }
  }
}
