@use "@/styles/colors";

.preferences {
  padding: 2rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  color: colors.$text;

  .order-div {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    .order-input {
      padding: 0.5rem;
      width: 75%;
      border: 1px solid colors.$text;
      background-color: colors.$cream;
      border-radius: 6px;
      margin: 0.5rem 1rem;
      &:focus {
        outline: 1px solid colors.$text;
      }
    }

    .close {
      cursor: pointer;
    }
  }

  .add-more {
    color: colors.$coffee;
    font-weight: 700;
    padding: 5px;
    margin: 10px 20px;
    border-radius: 5px;
    border: 2px solid colors.$coffee;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;

    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: scale(1.04);
      background: colors.$coffee;
      color: colors.$cream;
    }
  }

  .save-preferences {
    height: 3rem;
    padding: 10px;
    background-color: colors.$coffee;
    color: colors.$cream;
    border: 1px solid #ad8b73;
    border-radius: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: 0.25s ease-in-out;

    &:hover {
      transform: scale(1.04);
    }
  }

  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .social-media-link {
      width: 75%;

      border: 1px solid colors.$text;
      background-color: colors.$cream;
      border-radius: 6px;
      margin: 0.5rem 1rem;
      padding: 0.5rem;

      &:focus {
        outline: 1px solid colors.$text;
      }
    }
  }
}
